name: Docker Build & Push

on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t filestorage:latest .

      - name: Tag Docker image
        run: |
          docker tag filestorage:latest ${{ secrets.DOCKER_USERNAME }}/softin:latest
          docker tag filestorage:latest ${{ secrets.DOCKER_USERNAME }}/softin:${{ github.sha }}

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/softin:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/softin:${{ github.sha }}
