name: Docker Build & Push

on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Build Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t filestorage:latest .

      - name: Tag Docker image
        run: |
          docker tag filestorage:latest filestorage:latest
          docker tag filestorage:latest filestorage:${{ github.sha }}
